USE [master]
GO
/****** Object:  Database [InterviewPortal]    Script Date: 07-01-2026 17:12:23 ******/
CREATE DATABASE [InterviewPortal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InterviewPortal', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\InterviewPortal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InterviewPortal_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\InterviewPortal_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InterviewPortal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InterviewPortal]
GO
/****** Object:  Table [dbo].[AppSettings]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppSettings](
	[SettingKey] [nvarchar](50) NOT NULL,
	[SettingValue] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SettingKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookmarks]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookmarks](
	[Bookmark_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NOT NULL,
	[Question_ID] [int] NOT NULL,
	[Saved_Date] [datetime] NOT NULL,
	[Remark] [nvarchar](max) NULL,
 CONSTRAINT [PK_Bookmarks] PRIMARY KEY CLUSTERED 
(
	[Bookmark_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Category_ID] [int] IDENTITY(1,1) NOT NULL,
	[Category_Name] [nvarchar](50) NOT NULL,
	[Remark] [nvarchar](max) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[Company_ID] [int] IDENTITY(1,1) NOT NULL,
	[Company_Name] [nvarchar](50) NOT NULL,
	[Remark] [nvarchar](max) NULL,
 CONSTRAINT [PK_Companies] PRIMARY KEY CLUSTERED 
(
	[Company_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetOTP]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetOTP](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[OTP] [nvarchar](6) NOT NULL,
	[ExpiryTime] [datetime] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[Question_ID] [int] IDENTITY(1,1) NOT NULL,
	[Category_ID] [int] NOT NULL,
	[Company_ID] [int] NOT NULL,
	[Question_Text] [nvarchar](255) NOT NULL,
	[OptionA] [nvarchar](100) NOT NULL,
	[OptionB] [nvarchar](100) NOT NULL,
	[OptionC] [nvarchar](100) NOT NULL,
	[OptionD] [nvarchar](100) NOT NULL,
	[CorrectOption] [nvarchar](max) NOT NULL,
	[Remark] [nvarchar](max) NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[Question_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test_Questions]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test_Questions](
	[TQ_ID] [int] IDENTITY(1,1) NOT NULL,
	[Test_ID] [int] NOT NULL,
	[Question_ID] [int] NOT NULL,
	[Remark] [nvarchar](max) NULL,
 CONSTRAINT [PK_Test_Questions] PRIMARY KEY CLUSTERED 
(
	[TQ_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestResults]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestResults](
	[Result_ID] [int] IDENTITY(1,1) NOT NULL,
	[Test_ID] [int] NULL,
	[User_ID] [int] NULL,
	[Result_Score] [int] NOT NULL,
	[Total_Questions] [int] NOT NULL,
	[CorrectAnswers] [int] NOT NULL,
	[WrongAnswers] [int] NOT NULL,
	[Remark] [nvarchar](max) NULL,
 CONSTRAINT [PK_TestResults] PRIMARY KEY CLUSTERED 
(
	[Result_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tests]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tests](
	[Test_ID] [int] IDENTITY(1,1) NOT NULL,
	[Test_Name] [nvarchar](50) NOT NULL,
	[Category_ID] [int] NOT NULL,
	[TotalMarks] [int] NOT NULL,
	[Duration_Minutes] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[Created_Date] [datetime] NOT NULL,
	[Remark] [nvarchar](max) NULL,
	[User_ID] [int] NOT NULL,
 CONSTRAINT [PK_Tests] PRIMARY KEY CLUSTERED 
(
	[Test_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Bookmarks]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Bookmarks](
	[Bookmark_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NOT NULL,
	[Question_ID] [int] NOT NULL,
	[Created_Date] [datetime] NULL,
 CONSTRAINT [PK_User_Bookmarks] PRIMARY KEY CLUSTERED 
(
	[Bookmark_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_FirstName] [nvarchar](50) NOT NULL,
	[User_LastName] [nvarchar](50) NOT NULL,
	[User_EmailID] [nvarchar](50) NOT NULL,
	[User_Password] [nvarchar](256) NOT NULL,
	[User_Role] [nvarchar](20) NOT NULL,
	[User_RegisteredDate] [datetime] NOT NULL,
	[Remark] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AppSettings] ([SettingKey], [SettingValue]) VALUES (N'SmtpEmail', N'YOUR_GMAIL_HERE@gmail.com')
INSERT [dbo].[AppSettings] ([SettingKey], [SettingValue]) VALUES (N'SmtpHost', N'smtp.gmail.com')
INSERT [dbo].[AppSettings] ([SettingKey], [SettingValue]) VALUES (N'SmtpPassword', N'YOUR_APP_PASSWORD_HERE')
GO
SET IDENTITY_INSERT [dbo].[Bookmarks] ON 

INSERT [dbo].[Bookmarks] ([Bookmark_ID], [User_ID], [Question_ID], [Saved_Date], [Remark]) VALUES (2, 3, 5, CAST(N'2026-01-01T10:15:34.337' AS DateTime), NULL)
INSERT [dbo].[Bookmarks] ([Bookmark_ID], [User_ID], [Question_ID], [Saved_Date], [Remark]) VALUES (1003, 3, 1006, CAST(N'2026-01-07T10:22:05.780' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Bookmarks] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Category_ID], [Category_Name], [Remark]) VALUES (12, N'C#', NULL)
INSERT [dbo].[Categories] ([Category_ID], [Category_Name], [Remark]) VALUES (13, N'ASP.NET', NULL)
INSERT [dbo].[Categories] ([Category_ID], [Category_Name], [Remark]) VALUES (14, N'Programming', NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Companies] ON 

INSERT [dbo].[Companies] ([Company_ID], [Company_Name], [Remark]) VALUES (1, N'TATA', NULL)
INSERT [dbo].[Companies] ([Company_ID], [Company_Name], [Remark]) VALUES (2, N'General', NULL)
INSERT [dbo].[Companies] ([Company_ID], [Company_Name], [Remark]) VALUES (4, N'Google', NULL)
SET IDENTITY_INSERT [dbo].[Companies] OFF
GO
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([Question_ID], [Category_ID], [Company_ID], [Question_Text], [OptionA], [OptionB], [OptionC], [OptionD], [CorrectOption], [Remark]) VALUES (1, 14, 4, N'What is C#?', N'A programming language', N'A database', N'An operating system', N'A web browser', N'A', NULL)
INSERT [dbo].[Questions] ([Question_ID], [Category_ID], [Company_ID], [Question_Text], [OptionA], [OptionB], [OptionC], [OptionD], [CorrectOption], [Remark]) VALUES (2, 15, 5, N'What does SQL stand for?', N'Structured Query Language', N'Simple Question Language', N'Standard Quality Language', N'System Query Language', N'A', NULL)
INSERT [dbo].[Questions] ([Question_ID], [Category_ID], [Company_ID], [Question_Text], [OptionA], [OptionB], [OptionC], [OptionD], [CorrectOption], [Remark]) VALUES (3, 16, 2, N'Which data structure follows the LIFO principle?', N'Queue', N'Linked List', N'Stack', N'Tree', N'C', NULL)
SET IDENTITY_INSERT [dbo].[Questions] OFF
GO
SET IDENTITY_INSERT [dbo].[Test_Questions] ON 

INSERT [dbo].[Test_Questions] ([TQ_ID], [Test_ID], [Question_ID], [Remark]) VALUES (2006, 2006, 1, NULL)
INSERT [dbo].[Test_Questions] ([TQ_ID], [Test_ID], [Question_ID], [Remark]) VALUES (2007, 2006, 2, NULL)
INSERT [dbo].[Test_Questions] ([TQ_ID], [Test_ID], [Question_ID], [Remark]) VALUES (2008, 2007, 1, NULL)
SET IDENTITY_INSERT [dbo].[Test_Questions] OFF
GO
SET IDENTITY_INSERT [dbo].[TestResults] ON 

INSERT [dbo].[TestResults] ([Result_ID], [Test_ID], [User_ID], [Result_Score], [Total_Questions], [CorrectAnswers], [WrongAnswers], [Remark]) VALUES (1002, 2006, 3, 2, 2, 2, 0, NULL)
INSERT [dbo].[TestResults] ([Result_ID], [Test_ID], [User_ID], [Result_Score], [Total_Questions], [CorrectAnswers], [WrongAnswers], [Remark]) VALUES (1003, 2007, 3, 2, 2, 2, 0, NULL)
INSERT [dbo].[TestResults] ([Result_ID], [Test_ID], [User_ID], [Result_Score], [Total_Questions], [CorrectAnswers], [WrongAnswers], [Remark]) VALUES (2002, 3006, 3, 3, 4, 3, 1, NULL)
SET IDENTITY_INSERT [dbo].[TestResults] OFF
GO
SET IDENTITY_INSERT [dbo].[Tests] ON 

INSERT [dbo].[Tests] ([Test_ID], [Test_Name], [Category_ID], [TotalMarks], [Duration_Minutes], [CreatedBy], [Created_Date], [Remark], [User_ID]) VALUES (2006, N'python', 14, 100, 10, 1, CAST(N'2026-01-01T10:17:47.210' AS DateTime), NULL, 1)
INSERT [dbo].[Tests] ([Test_ID], [Test_Name], [Category_ID], [TotalMarks], [Duration_Minutes], [CreatedBy], [Created_Date], [Remark], [User_ID]) VALUES (2007, N'python', 12, 100, 10, 1, CAST(N'2026-01-01T10:19:37.697' AS DateTime), NULL, 1)
INSERT [dbo].[Tests] ([Test_ID], [Test_Name], [Category_ID], [TotalMarks], [Duration_Minutes], [CreatedBy], [Created_Date], [Remark], [User_ID]) VALUES (3006, N'test', 15, 12345678, 1234678, 1, CAST(N'2026-01-02T12:15:57.360' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[Tests] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([User_ID], [User_FirstName], [User_LastName], [User_EmailID], [User_Password], [User_Role], [User_RegisteredDate], [Remark]) VALUES (1, N'Admin', N'User', N'admin@gmail.com', N'admin@123', N'Admin', CAST(N'2025-12-24T23:07:10.390' AS DateTime), NULL)
INSERT [dbo].[Users] ([User_ID], [User_FirstName], [User_LastName], [User_EmailID], [User_Password], [User_Role], [User_RegisteredDate], [Remark]) VALUES (2, N'Test', N'User', N'testuser@gmail.com', N'$2a$11$8oYjFvBJ2k4EJfxzCn0h9.HVTxWEcvVEP7wZQu7g9GgQA1D5g.O6G', N'User', CAST(N'2025-12-12T19:28:30.397' AS DateTime), NULL)
INSERT [dbo].[Users] ([User_ID], [User_FirstName], [User_LastName], [User_EmailID], [User_Password], [User_Role], [User_RegisteredDate], [Remark]) VALUES (3, N'yug', N'test', N'yugsakariya1022@gmail.com', N'$2a$11$EfklvZxtwQci3rGM7JUzxeJGqTM3UTeL11mVc3ndkuS7CqiSrqham', N'User', CAST(N'2025-12-29T12:29:25.113' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Categories_Name]    Script Date: 07-01-2026 17:12:23 ******/
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [UQ_Categories_Name] UNIQUE NONCLUSTERED 
(
	[Category_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Companies_Name]    Script Date: 07-01-2026 17:12:23 ******/
ALTER TABLE [dbo].[Companies] ADD  CONSTRAINT [UQ_Companies_Name] UNIQUE NONCLUSTERED 
(
	[Company_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_Email]    Script Date: 07-01-2026 17:12:23 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_Email] UNIQUE NONCLUSTERED 
(
	[User_EmailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookmarks] ADD  DEFAULT (getdate()) FOR [Saved_Date]
GO
ALTER TABLE [dbo].[PasswordResetOTP] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tests] ADD  DEFAULT (getdate()) FOR [Created_Date]
GO
ALTER TABLE [dbo].[User_Bookmarks] ADD  DEFAULT (getdate()) FOR [Created_Date]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('User') FOR [User_Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [User_RegisteredDate]
GO
ALTER TABLE [dbo].[Bookmarks]  WITH CHECK ADD  CONSTRAINT [FK_Bookmarks_Questions] FOREIGN KEY([Question_ID])
REFERENCES [dbo].[Questions] ([Question_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bookmarks] CHECK CONSTRAINT [FK_Bookmarks_Questions]
GO
ALTER TABLE [dbo].[Bookmarks]  WITH CHECK ADD  CONSTRAINT [FK_Bookmarks_Users] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([User_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bookmarks] CHECK CONSTRAINT [FK_Bookmarks_Users]
GO
ALTER TABLE [dbo].[Test_Questions]  WITH CHECK ADD  CONSTRAINT [FK_TestQuestions_Questions] FOREIGN KEY([Question_ID])
REFERENCES [dbo].[Questions] ([Question_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Test_Questions] CHECK CONSTRAINT [FK_TestQuestions_Questions]
GO
ALTER TABLE [dbo].[Test_Questions]  WITH CHECK ADD  CONSTRAINT [FK_TestQuestions_Tests] FOREIGN KEY([Test_ID])
REFERENCES [dbo].[Tests] ([Test_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Test_Questions] CHECK CONSTRAINT [FK_TestQuestions_Tests]
GO
ALTER TABLE [dbo].[TestResults]  WITH CHECK ADD  CONSTRAINT [FK_TestResults_Tests] FOREIGN KEY([Test_ID])
REFERENCES [dbo].[Tests] ([Test_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TestResults] CHECK CONSTRAINT [FK_TestResults_Tests]
GO
ALTER TABLE [dbo].[Tests]  WITH CHECK ADD  CONSTRAINT [FK_Tests_Users] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[Tests] CHECK CONSTRAINT [FK_Tests_Users]
GO
ALTER TABLE [dbo].[User_Bookmarks]  WITH CHECK ADD  CONSTRAINT [FK_UserBookmarks_Questions] FOREIGN KEY([Question_ID])
REFERENCES [dbo].[Questions] ([Question_ID])
GO
ALTER TABLE [dbo].[User_Bookmarks] CHECK CONSTRAINT [FK_UserBookmarks_Questions]
GO
ALTER TABLE [dbo].[User_Bookmarks]  WITH CHECK ADD  CONSTRAINT [FK_UserBookmarks_Users] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[User_Bookmarks] CHECK CONSTRAINT [FK_UserBookmarks_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Role] CHECK  (([User_Role]='User' OR [User_Role]='Admin'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Role]
GO
/****** Object:  StoredProcedure [dbo].[sp_Assign_Question]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Assign a question to a test
CREATE PROCEDURE [dbo].[sp_Assign_Question]
    @p_Test_ID INT,
    @p_Question_ID INT
AS
BEGIN
    INSERT INTO Test_Questions (Test_ID, Question_ID)
    VALUES (@p_Test_ID, @p_Question_ID);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Check_User_Exists]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Check_User_Exists]
    @p_Email NVARCHAR(100)
AS
BEGIN
    SELECT User_ID FROM Users WHERE User_EmailID = @p_Email;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckTestCompleted]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CheckTestCompleted]
    @p_User_ID INT,
    @p_Test_ID INT
AS
BEGIN
    SELECT COUNT(*) AS IsCompleted 
    FROM TestResults 
    WHERE User_ID = @p_User_ID AND Test_ID = @p_Test_ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Delete_Bookmark]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Delete_Bookmark]
    @p_Bookmark_ID INT
AS
BEGIN
    DELETE FROM Bookmarks WHERE Bookmark_ID = @p_Bookmark_ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Delete_Category]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Delete Category
CREATE PROCEDURE [dbo].[sp_Delete_Category]
    @Category_ID INT
AS
BEGIN
    DELETE FROM Categories
    WHERE Category_ID = @Category_ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Delete_Company]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Delete Company
CREATE PROCEDURE [dbo].[sp_Delete_Company]
    @p_Company_ID INT
AS
BEGIN
    DELETE FROM Companies
    WHERE Company_ID = @p_Company_ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Delete_Question]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Delete_Question]
    @p_Question_ID INT
AS
BEGIN
    SET NOCOUNT ON;
    -- First delete related records in Test_Questions
    DELETE FROM Test_Questions WHERE Question_ID = @p_Question_ID;
    
    -- Then delete related bookmarks
    DELETE FROM Bookmarks WHERE Question_ID = @p_Question_ID;
    
    -- Finally delete the question
    DELETE FROM Questions WHERE Question_ID = @p_Question_ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Delete_Test]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Delete Test (also deletes related test questions)
CREATE PROCEDURE [dbo].[sp_Delete_Test]
    @p_Test_ID INT
AS
BEGIN
    DELETE FROM Test_Questions WHERE Test_ID = @p_Test_ID;
    DELETE FROM Tests WHERE Test_ID = @p_Test_ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_User_ByID]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get User By ID
CREATE PROCEDURE [dbo].[sp_Get_User_ByID] @p_User_ID INT
AS
BEGIN
    SELECT * FROM Users WHERE User_ID = @p_User_ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAll_Categories]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get All Categories
CREATE PROCEDURE [dbo].[sp_GetAll_Categories]
AS
BEGIN
    SELECT Category_ID, Category_Name, Remark FROM Categories ORDER BY Category_Name;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAll_Companies]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get All Companies
CREATE PROCEDURE [dbo].[sp_GetAll_Companies]
AS
BEGIN
    SELECT Company_ID, Company_Name, Remark FROM Companies ORDER BY Company_Name;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAll_Questions]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get All Questions
CREATE PROCEDURE [dbo].[sp_GetAll_Questions]
AS
BEGIN
    SELECT q.*, c.Category_Name, co.Company_Name
    FROM Questions q
    INNER JOIN Categories c ON q.Category_ID = c.Category_ID
    INNER JOIN Companies co ON q.Company_ID = co.Company_ID
    ORDER BY q.Question_ID DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAll_TestResults]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Get all test results with user and test info
CREATE PROCEDURE [dbo].[sp_GetAll_TestResults]
AS
BEGIN
    SELECT r.Result_ID, 
           t.Test_Name, 
           u.User_FirstName + ' ' + u.User_LastName AS UserName,
           r.Result_Score,
           r.Total_Questions AS TotalQuestions,
           r.CorrectAnswers,
           r.WrongAnswers
    FROM TestResults r
    INNER JOIN Tests t ON r.Test_ID = t.Test_ID
    INNER JOIN Users u ON r.User_ID = u.User_ID
    ORDER BY r.Result_ID DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAll_Tests]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- CREATE NEW PROCEDURES
-- =============================================

-- Get All Tests with Category Name
CREATE PROCEDURE [dbo].[sp_GetAll_Tests]
AS
BEGIN
    SELECT t.Test_ID, t.Test_Name, t.Category_ID, c.Category_Name, 
           t.TotalMarks, t.Duration_Minutes, t.CreatedBy, t.Remark
    FROM Tests t
    INNER JOIN Categories c ON t.Category_ID = c.Category_ID
    ORDER BY t.Test_Name;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAppSetting]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAppSetting]
    @p_Key NVARCHAR(50)
AS
BEGIN
    SELECT SettingValue FROM AppSettings WHERE SettingKey = @p_Key;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAssigned_Questions]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Get questions assigned to a specific test
CREATE PROCEDURE [dbo].[sp_GetAssigned_Questions]
    @p_Test_ID INT
AS
BEGIN
    SELECT tq.TQ_ID, tq.Question_ID, q.Question_Text
    FROM Test_Questions tq
    INNER JOIN Questions q ON tq.Question_ID = q.Question_ID
    WHERE tq.Test_ID = @p_Test_ID
    ORDER BY tq.TQ_ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAvailable_Questions]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Get questions NOT assigned to a specific test
CREATE PROCEDURE [dbo].[sp_GetAvailable_Questions]
    @p_Test_ID INT
AS
BEGIN
    SELECT q.Question_ID, q.Question_Text, c.Category_Name
    FROM Questions q
    INNER JOIN Categories c ON q.Category_ID = c.Category_ID
    WHERE q.Question_ID NOT IN (
        SELECT Question_ID FROM Test_Questions WHERE Test_ID = @p_Test_ID
    )
    ORDER BY q.Question_ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBookmarks_ByUserID]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetBookmarks_ByUserID]
    @p_User_ID INT
AS
BEGIN
    SELECT b.Bookmark_ID, 
           q.Question_ID,
           q.Question_Text, 
           c.Category_Name, 
           co.Company_Name,
           b.Saved_Date
    FROM Bookmarks b
    INNER JOIN Questions q ON b.Question_ID = q.Question_ID
    INNER JOIN Categories c ON q.Category_ID = c.Category_ID
    INNER JOIN Companies co ON q.Company_ID = co.Company_ID
    WHERE b.User_ID = @p_User_ID
    ORDER BY b.Saved_Date DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetByID_Category]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Get Category by ID
CREATE PROCEDURE [dbo].[sp_GetByID_Category]
    @p_Category_ID INT
AS
BEGIN
    SELECT * FROM Categories
    WHERE Category_ID = @p_Category_ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetByID_Company]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Get Company by ID
CREATE PROCEDURE [dbo].[sp_GetByID_Company]
    @p_Company_ID INT
AS
BEGIN
    SELECT * FROM Companies
    WHERE Company_ID = @p_Company_ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetByID_Question]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetByID_Question]
    @p_Question_ID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT q.Question_ID, 
           q.Category_ID, 
           q.Company_ID, 
           q.Question_Text, 
           q.OptionA, 
           q.OptionB, 
           q.OptionC, 
           q.OptionD, 
           q.CorrectOption,
           c.Category_Name,
           co.Company_Name
    FROM Questions q
    INNER JOIN Categories c ON q.Category_ID = c.Category_ID
    INNER JOIN Companies co ON q.Company_ID = co.Company_ID
    WHERE q.Question_ID = @p_Question_ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetByID_Test]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get Test by ID
CREATE PROCEDURE [dbo].[sp_GetByID_Test]
    @p_Test_ID INT
AS
BEGIN
    SELECT * FROM Tests WHERE Test_ID = @p_Test_ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetQuestionsByTestID]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetQuestionsByTestID]
    @p_Test_ID INT
AS
BEGIN
    SELECT q.Question_ID, 
           q.Question_Text, 
           q.OptionA, 
           q.OptionB, 
           q.OptionC, 
           q.OptionD,
           q.CorrectOption
    FROM Questions q
    INNER JOIN Test_Questions tq ON q.Question_ID = tq.Question_ID
    WHERE tq.Test_ID = @p_Test_ID
    ORDER BY q.Question_ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTestResults_ByUserID]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetTestResults_ByUserID]
    @p_User_ID INT
AS
BEGIN
    SELECT r.Result_ID, 
           t.Test_Name, 
           r.Result_Score,
           r.Total_Questions,
           r.CorrectAnswers,
           r.WrongAnswers
    FROM TestResults r
    INNER JOIN Tests t ON r.Test_ID = t.Test_ID
    WHERE r.User_ID = @p_User_ID
    ORDER BY r.Result_ID DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTestResults_Statistics]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Get statistics for results dashboard
CREATE PROCEDURE [dbo].[sp_GetTestResults_Statistics]
AS
BEGIN
    SELECT 
        COUNT(*) AS TotalAttempts,
        ISNULL(AVG(CASE WHEN Total_Questions > 0 
            THEN (Result_Score * 100 / Total_Questions) 
            ELSE 0 END), 0) AS AvgScore,
        COUNT(DISTINCT User_ID) AS UniqueUsers
    FROM TestResults;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTestsWithStatus_ForUser]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetTestsWithStatus_ForUser]
    @p_User_ID INT
AS
BEGIN
    SELECT t.Test_ID, 
           t.Test_Name, 
           c.Category_Name, 
           t.TotalMarks,
           t.Duration_Minutes AS DurationMinutes,
           (SELECT COUNT(*) FROM Test_Questions WHERE Test_ID = t.Test_ID) AS QuestionCount,
           CASE WHEN EXISTS (SELECT 1 FROM TestResults WHERE Test_ID = t.Test_ID AND User_ID = @p_User_ID) 
                THEN 1 ELSE 0 END AS IsCompleted
    FROM Tests t
    INNER JOIN Categories c ON t.Category_ID = c.Category_ID
    ORDER BY t.Test_Name;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTotalAdminsCount]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTotalAdminsCount] AS BEGIN SELECT COUNT(*) AS TotalAdmins FROM Users WHERE User_Role = 'Admin'; END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTotalAttemptsCount]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Get total test attempts count
CREATE PROCEDURE [dbo].[sp_GetTotalAttemptsCount]
AS
BEGIN
    SELECT COUNT(*) AS TotalAttempts FROM TestResults;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTotalQuestionsCount]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTotalQuestionsCount] AS BEGIN SELECT COUNT(*) AS TotalQuestions FROM Questions; END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTotalTestsCount]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTotalTestsCount] AS BEGIN SELECT COUNT(*) AS TotalTests FROM Tests; END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTotalUsersCount]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Count procedures
CREATE PROCEDURE [dbo].[sp_GetTotalUsersCount] AS BEGIN SELECT COUNT(*) AS TotalUsers FROM Users WHERE User_Role = 'User'; END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserBookmarkCount]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetUserBookmarkCount]
    @p_User_ID INT
AS
BEGIN
    SELECT COUNT(*) AS BookmarkCount FROM Bookmarks WHERE User_ID = @p_User_ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserByEmail]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetUserByEmail]
    @p_Email NVARCHAR(100)
AS
BEGIN
    SELECT * FROM Users WHERE User_EmailID = @p_Email;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserTestAttemptCount]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetUserTestAttemptCount]
    @p_User_ID INT
AS
BEGIN
    SELECT COUNT(*) AS TestCount FROM TestResults WHERE User_ID = @p_User_ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Insert_Bookmark]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Insert_Bookmark]
    @p_User_ID INT,
    @p_Question_ID INT
AS
BEGIN
    -- Check if bookmark already exists
    IF NOT EXISTS (SELECT 1 FROM Bookmarks WHERE User_ID = @p_User_ID AND Question_ID = @p_Question_ID)
    BEGIN
        INSERT INTO Bookmarks (User_ID, Question_ID, Saved_Date)
        VALUES (@p_User_ID, @p_Question_ID, GETDATE());
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Insert_Category]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Insert Category
CREATE PROCEDURE [dbo].[sp_Insert_Category]
    @Category_Name NVARCHAR(50)
AS
BEGIN
    INSERT INTO Categories (Category_Name)
    VALUES (@Category_Name);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Insert_Company]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Insert_Company]
    @p_Company_Name NVARCHAR(100)
AS
BEGIN
    INSERT INTO Companies (Company_Name)
    VALUES (@p_Company_Name);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Insert_Question]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Insert_Question]
    @p_Category_ID INT,
    @p_Company_ID INT,
    @p_Question_Text NVARCHAR(255),
    @p_OptionA NVARCHAR(255),
    @p_OptionB NVARCHAR(255),
    @p_OptionC NVARCHAR(255),
    @p_OptionD NVARCHAR(255),
    @p_CorrectOption CHAR(1)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Questions (Category_ID, Company_ID, Question_Text, OptionA, OptionB, OptionC, OptionD, CorrectOption)
    VALUES (@p_Category_ID, @p_Company_ID, @p_Question_Text, @p_OptionA, @p_OptionB, @p_OptionC, @p_OptionD, @p_CorrectOption);
    
    SELECT SCOPE_IDENTITY() AS Question_ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Insert_Test]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Insert_Test]
    @p_Test_Name NVARCHAR(50),
    @p_Category_ID INT,
    @p_TotalMarks INT,
    @p_Duration_Minutes INT,
    @p_CreatedBy INT
AS
BEGIN
    INSERT INTO Tests (Test_Name, Category_ID, TotalMarks, Duration_Minutes, CreatedBy, User_ID)
    VALUES (@p_Test_Name, @p_Category_ID, @p_TotalMarks, @p_Duration_Minutes, @p_CreatedBy, @p_CreatedBy);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertTestResult]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertTestResult]
    @p_Test_ID INT,
    @p_User_ID INT,
    @p_Score INT,
    @p_TotalQuestions INT,
    @p_CorrectAnswers INT,
    @p_WrongAnswers INT
AS
BEGIN
    INSERT INTO TestResults (Test_ID, User_ID, Result_Score, Total_Questions, CorrectAnswers, WrongAnswers)
    VALUES (@p_Test_ID, @p_User_ID, @p_Score, @p_TotalQuestions, @p_CorrectAnswers, @p_WrongAnswers);
    
    SELECT SCOPE_IDENTITY() AS Result_ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Remove_AssignedQuestion]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Remove a question from a test
CREATE PROCEDURE [dbo].[sp_Remove_AssignedQuestion]
    @p_TQ_ID INT
AS
BEGIN
    DELETE FROM Test_Questions WHERE TQ_ID = @p_TQ_ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_StorePasswordResetOTP]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_StorePasswordResetOTP]
    @p_Email NVARCHAR(255),
    @p_OTP NVARCHAR(6),
    @p_ExpiryTime DATETIME
AS
BEGIN
    -- Delete any existing OTP for this email
    DELETE FROM PasswordResetOTP WHERE Email = @p_Email;
    
    -- Insert new OTP
    INSERT INTO PasswordResetOTP (Email, OTP, ExpiryTime, CreatedAt)
    VALUES (@p_Email, @p_OTP, @p_ExpiryTime, GETDATE());
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Update_Category]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Update Category
CREATE PROCEDURE [dbo].[sp_Update_Category]
    @Category_ID INT,
    @Category_Name NVARCHAR(50)
AS
BEGIN
    UPDATE Categories
    SET Category_Name = @Category_Name
    WHERE Category_ID = @Category_ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Update_Company]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Update Company
CREATE PROCEDURE [dbo].[sp_Update_Company]
    @p_Company_ID INT,
    @p_Company_Name NVARCHAR(100)
AS
BEGIN
    UPDATE Companies
    SET Company_Name = @p_Company_Name
    WHERE Company_ID = @p_Company_ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Update_Question]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Update_Question]
    @p_Question_ID INT,
    @p_Category_ID INT,
    @p_Company_ID INT,
    @p_Question_Text NVARCHAR(255),
    @p_OptionA NVARCHAR(255),
    @p_OptionB NVARCHAR(255),
    @p_OptionC NVARCHAR(255),
    @p_OptionD NVARCHAR(255),
    @p_CorrectOption CHAR(1)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Questions
    SET Category_ID = @p_Category_ID,
        Company_ID = @p_Company_ID,
        Question_Text = @p_Question_Text,
        OptionA = @p_OptionA,
        OptionB = @p_OptionB,
        OptionC = @p_OptionC,
        OptionD = @p_OptionD,
        CorrectOption = @p_CorrectOption
    WHERE Question_ID = @p_Question_ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Update_Test]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Fix sp_Update_Test
CREATE PROCEDURE [dbo].[sp_Update_Test]
    @p_Test_ID INT,
    @p_Test_Name NVARCHAR(50),
    @p_Category_ID INT,
    @p_TotalMarks INT,
    @p_Duration_Minutes INT,
    @p_CreatedBy INT
AS
BEGIN
    UPDATE Tests
    SET Test_Name = @p_Test_Name,
        Category_ID = @p_Category_ID,
        TotalMarks = @p_TotalMarks,
        Duration_Minutes = @p_Duration_Minutes,
        CreatedBy = @p_CreatedBy,
        User_ID = @p_CreatedBy
    WHERE Test_ID = @p_Test_ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UserLogin]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- User Login
CREATE PROCEDURE [dbo].[sp_UserLogin]
    @p_Email NVARCHAR(50),
    @p_Password NVARCHAR(50)
AS
BEGIN
    SELECT User_ID, User_FirstName, User_LastName, User_Role 
    FROM Users 
    WHERE User_EmailID = @p_Email AND User_Password = @p_Password;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UserRegister]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UserRegister]
    @p_FirstName NVARCHAR(50),
    @p_LastName NVARCHAR(50),
    @p_EmailID NVARCHAR(100),
    @p_Password NVARCHAR(256)
AS
BEGIN
    INSERT INTO Users (User_FirstName, User_LastName, User_EmailID, User_Password, User_Role)
    VALUES (@p_FirstName, @p_LastName, @p_EmailID, @p_Password, 'User');
    
    SELECT * FROM Users WHERE User_ID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_VerifyPasswordResetOTP]    Script Date: 07-01-2026 17:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_VerifyPasswordResetOTP]
    @p_Email NVARCHAR(255),
    @p_OTP NVARCHAR(6)
AS
BEGIN
    SELECT * FROM PasswordResetOTP 
    WHERE Email = @p_Email 
    AND OTP = @p_OTP 
    AND ExpiryTime > GETDATE();
END
GO
USE [master]
GO
